<!DOCTYPE html>
<html lang="ja">
<head>
	<meta name="auth" content="OTFT">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>ログイン</title>
    <link rel="stylesheet" src="/st/style.css">
    </head>
    <body>
        <form name="fm" data-ot-post="/r/login,ログインしました">
            <div><label>ID<input type="text" name="id"></label></div>
            <div><label>Password<input type="password" name="password"></label></div>
            <div><button>ログイン</button></div>
        </form>
        <script src="/st/master.js"></script>
    </body>
</html>